<div class="col-xs-12" ng-if="layout === 'simple'">
  <div avb-simple-selected-option
    ng-repeat="option in options | avbSelectedOptions"
    class="animate-repeat"
    ng-class="{selected: option.selected > -1}"
    ng-click="toggleSelectItem(option)">
  </div>
  <div
    class="padded"
    ng-if="(options | avbSelectedOptions).length == 0"
    ng-i18next="avBooth.noOptionsSelected">
  </div>
</div>
<div class="col-xs-12" ng-if="layout === 'ahoram-primaries'">
  <div avb-ahoram-primaries-selected-option
    ng-repeat="option in options | avbSelectedOptions"
    class="animate-repeat"
    ng-class="{selected: option.selected > -1}"
    ng-click="toggleSelectItem2(option)">
  </div>
  <div
    class="padded"
    ng-if="(options | avbSelectedOptions).length == 0"
    ng-i18next="avBooth.noOptionsSelected">
  </div>
</div>
<div class="col-xs-12" ng-if="layout === 'accordion' || layout === 'conditional-accordion'">
  <div avb-accordion-selected-option
    ng-repeat="option in options | avbSelectedOptions"
    class="animate-repeat"
    ng-class="{selected: option.selected > -1}">
  </div>
  <div
    class="padded"
    ng-if="(options | avbSelectedOptions).length == 0"
    ng-i18next="avBooth.noOptionsSelected">
  </div>
</div>
<div class="col-xs-12" ng-if="layout === 'details'">
  <div avb-detail-selected-option
    ng-repeat="option in options | avbSelectedOptions"
    class="animate-repeat">
  </div>
  <div
    class="padded"
    ng-if="(options | avbSelectedOptions).length == 0"
    ng-i18next="avBooth.noOptionsSelected">
  </div>
</div>