<!-- shown when the team does not include a proposal in this column -->
<div class="no-data" ng-if="candidates.length == 0">
  <span
    ng-i18next="avBooth.notSelectableCell">
  </span>
</div>

<!-- shown when the team includes a candidate in this column -->
<div
  class="has-data"
  ng-if="candidates.length == 1"
  ng-class="{selected: candidates.selected > 0}"
  ng-click="toggleCell(team, question_slug)">
  <span>{{candidates[0].value}}</span>
</div>

<!-- shown when the team includes multiple candidates in this column -->
<div
  class="has-data"
  ng-if="candidates.length > 1"
  ng-class="{selected: candidates.selected > 0}">
  <div
    class="has-data-wrapper"
    ng-click="toggleCell(team, question_slug)">
    <span
      class="first-candidate"
      ng-i18next="[i18next]({name: candidates[0].value})avBooth.firstCandidateOfMany">
    </span>
    <span class="num-selected"
      ng-i18next="[i18next]({selected: candidates.selected, total: candidates.length})avBooth.numCandidatesSelected">
    </span>
  </div>
  <button
    class="btn btn-default btn-right"
    ng-class="{'in': isOpenCell()}"
    ng-click="toggleOpenCell()">
    <span ng-i18next="avBooth.dropdownOptionView">
    </span>
    <span
      class="glyphicon"
      ng-class="{'glyphicon-chevron-up': isOpenCell(), 'glyphicon-chevron-down': !isOpenCell()}">
    </span>
  </button>
  <div
    class="candidates-list"
    ng-if="isOpenCell()">
    <h4
      ng-i18next="avBooth.candidatesTitle"
      ng-click="toggleCell(team, question_slug)">
    </h4>
    <div
      class="candidate"
      ng-repeat="cand in candidates"
      ng-class="{'selected': cand.selected > -1}"
      ng-click="toggleCandidate(cand)">
      <span
        class="glyphicon"
        ng-class="{'glyphicon glyphicon-check': cand.selected > -1, 'glyphicon glyphicon-unchecked': cand.selected === -1}">
      </span>
      <span>{{cand.value}}</span>
    </div>
  </div>
</div>