avb-draft-option {
  cursor: pointer;
  position: relative;
  display: block;
  padding-left: 15px;
  width: 100%;
  clear: both;
  overflow: hidden;

  .opt-data {
    display: block;
    float: left;
    width: 70%;
    height: 80px;
  }

  h4 {
    font-weight: bold;
  }

  p.details {
    line-height: 15px !important;
    display: block;
    padding-right: 5px;
    overflow: hidden;
    max-height: 30px;
  }

  a.btn-right {
    display: block;
    float: left;
    width: 26%;
    height: 60px;
    padding-top: 20px;
    margin: 10px 2%;
  }

  .show-value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .show-remove {
    display: none;
    padding: 0 10px;
    position: absolute;
    background-color: @brand-danger;
    top: 0;
    right: 30%;
  }

  &.selected {
    color: white;
    background-color: @av-primary;
  }

  &.selected:hover {
    background-color: @brand-danger;

    .show-remove {
      color: white;
      display: block !important;
    }
  }

  &:hover {
    background-color: @gray-lighter;
  }
}