<div class="col-xs-12 col-md-6">
  <div
    class="opt-data"
    ng-click="toggleSelectItem(option)">
    <h4 class="show-value">{{option.title}}</h4>
    <div class="show-remove">
      <span ng-i18next="avBooth.removeSelectedItem"></span>
      <span class="glyphicon glyphicon-remove"></span>
    </div>
    <span
      class="label label-default"
      ng-i18next="avBooth.packLabel"
      ng-if="option.isPack">
    </span>
    <p class="details">{{option.details}}</p>
  </div>
  <button
    class="btn btn-default btn-right"
    ng-class="{'in': option.isOpen}"
    ng-click="option.isOpen = !option.isOpen">
    <span
      class="glyphicon"
      ng-class="{'glyphicon-chevron-up': option.isOpen, 'glyphicon-chevron-down': !option.isOpen}">
    </span>
  </button>
  <div
    class="documents-list"
    ng-class="{'hidden': !option.isOpen}">
    <h4 ng-i18next="avBooth.listOfDraftDocuments"></h4>
    <a
      class="get-document"
      ng-repeat="suboption in option.documents"
      href="{{suboption.urls[0].url}}"
      target="_blank">
      {{suboption.category}}
      <span class="glyphicon glyphicon-cloud-download pull-right">
    </span>
    </a>
  </div>
</div>
<div avb-draft-option-cell="Documento Ético" class="hidden-xs col-md-2">
</div>
<div avb-draft-option-cell="Documento Político" class="hidden-xs col-md-2">
</div>
<div avb-draft-option-cell="Documento Organizativo" class="hidden-xs col-md-2">
</div>