@import "bower_components/bootstrap/less/bootstrap.less";
//@import "bower_components/bootstrap/less/theme.less";
@import "bower_components/font-awesome/less/font-awesome.less";
@import "vendor/jquery.nanoscroller/nanoscroller.css";

@fa-font-path: "bower_components/font-awesome/fonts";

/* Global Config */
@av-primary: #009CDF;
/* End Global Config */

/* Component LESS */
@import "avBooth/available-options-directive/available-options-directive.less";
@import "avBooth/booth-directive/booth-directive.less";
@import "avBooth/busy-directive/busy-directive.less";
@import "avBooth/detailed-option-directive/detailed-option-directive.less";
@import "avBooth/detailed-selected-option-directive/detailed-selected-option-directive.less";
@import "avBooth/error-screen-directive/error-screen-directive.less";
@import "avBooth/help-screen-directive/help-screen-directive.less";
@import "avBooth/multi-question-directive/multi-question-directive.less";
@import "avBooth/selected-options-directive/selected-options-directive.less";
@import "avBooth/start-screen-directive/start-screen-directive.less";
/* Add Component LESS Above */

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel a { cursor: pointer; }

/* Global LESS */
.btn-plain {
  border-radius: 0;
  border: 0;
}

.item-block {
  display: block;
  width: 100%;
  border: 0;
}

.text-brand-success {
  color: @brand-success;
}

.text-brand-warning {
  color: @brand-warning;
}

.text-brand-danger {
  color: @brand-danger;
}

.text-brand-primary {
  color: @brand-primary;
}

/* End Global LESS */
