.avb-busy-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -34px;
  margin-left: -100px;
  width: 300px;
  height: 150px;
  color: white;
  border-radius: 7px;
  background-color: #009CDF;
  text-align: center;
}

.avb-busy-loading .title {
  padding: 10px;
}

.avb-busy-loading .loading-gear {
  display: block;
  width: 41px;
  margin-left: 130px;
  clear: both;
  height: 60px;
  background-image: url('/img/loading.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #009CDF;
}
