<div class="container">
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
    <h1 class="text-center">{{name}}</h1>
    <h1 ng-i18next="avRegistration.loginHeader" class="text-center"></h1>
    <div class="error" ng-if="error">{{ error }}</div>
    <form name="form" role="form">
      <div id="loginForm" class="form-horizontal">
        <input type="text" class="form-control" ng-model="login.email" id="emailText"
                ng-i18next="[placeholder]avRegistration.emailPlaceholder" tabindex="1"
                ng-pattern="patterns('email')" autofocus required />

        <p class="help-block">
          <span ng-i18next="avRegistration.notRegisteredYet"></span>
          <a href="#" ng-i18next="avRegistration.registerHere" ng-click="goSignup()" tabindex="5"></a>
        </p>

        <input type="password" class="form-control" ng-model="login.password" id="passwordText"
                ng-i18next="[placeholder]avRegistration.passwordPlaceholder" tabindex="2" required />
        <p class="help-block">
          <a href="#" ng-i18next="avRegistration.forgotPassword" ng-click="forgotPassword()" tabindex="5"></a>
        </p>
      </div>

      <button type="submit" class="btn btn-block" ng-i18next="avRegistration.loginButton"
              ng-click="loginUser(form.$valid)" tabindex="3">
      </button>
    </form>
  </div>
</div>

