<!--<form action="https://agora.wadobo.dev:1000/api/v1/user/login/" method="POST">-->

<div data-ng-controller="HomeController">
    <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
    <form name="loginForm" novalidate role="form">
        <div class="form-group">
            <label for="identification">Username</label>
            <span class="label label-danger" data-ng-show="submitted && loginForm.identification.$error.required">Required!</span>
            <input type="text" name="identification" data-ng-model="identification" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <span class="label label-danger" data-ng-show="submitted && loginForm.password.$error.required">Required!</span>
            <input type="password" name="password" data-ng-model="password" class="form-control" required />
        </div>
        <button data-ng-click="submit(loginForm)" class="btn btn-default">Login</button>
    </form>
</div>