<div class="container">
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
    <h1 class="text-center">{{name}}</h1>
    <h1 ng-i18next="avRegistration.validateHeader" class="text-center"></h1>
    <form name="form" role="form">
      <div id="validateForm" class="form-horizontal">
        <div ng-repeat="field in metadata.fieldsValidate">
          <div class="form-group">
              <ng-form name="subForm">
                <input name="input" type="{{field.type}}" class="form-control" ng-model="validate[field.name]"
                     ng-i18next="[placeholder]avRegistration.{{field.name}}Placeholder"
                     ng-required={{field.required}} ng-pattern="patterns( field.name )" />
                <div class="error" ng-show="subForm.input.$dirty && subForm.input.$invalid">
                    <small class="error" ng-i18next="avRegistration.{{field.name}}Error"></small>
                </div>
              </ng-form>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-block" ng-i18next="avRegistration.validateButton" ng-click="validate(form.$valid)">
      </button>
    </form>
  </div>
</div>
