[av-admin-elquestions] {
  .question {
    padding: 0;
    background-color: @av-bg;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: 0.3s linear all;

    .q-title {
      padding: 10px;
      margin: 0;
      cursor: pointer;

      &:hover {
        background-color: darken(@av-bg, 6%);
      }

      > .col-sm-10, > .col-sm-2 {
        padding: 0;
      }
    }

    .input-group.col-xs-2 {
      float: left;
      min-width: 140px;
    }

    .input-error > span.error {
      margin-top: 5px;
      display: inline-block;
    }

    .buttons i {
        cursor: pointer;
    }

    .qform {
        margin-top: 10px;
        padding: 0 8px;
    }

    .option {
        padding: 10px;
        background-color: @av-bg-hover;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .newopt {
        padding: 0px;
    }

    label {
        text-align: right;
    }

    .form-group {
        margin-top: 10px;
    }
  }
}