.question {
    padding: 10px;
    background-color: @av-bg;
    margin-top: 5px;
    margin-bottom: 5px;
}

.question .buttons i {
    cursor: pointer;
}

.question .qform {
    margin-top: 10px;
}

.question .option {
    padding: 10px;
    background-color: @av-bg-hover;
    margin-top: 5px;
    margin-bottom: 5px;
}

.question .newopt {
    padding: 0px;
}

.question label {
    text-align: right;
}

.question .form-group {
    margin-top: 10px;
}

