[ave-default-election], [ave-public-view] {
  .background {
    background-color: @gray-lighter;

    &.first {
      background-color: @av-primary;
      color: @av-primary-contrast;

    .top-section {
        background-color: @av-primary;
        color: @av-primary-contrast;

        h1.election-title {
          color: @av-primary-contrast;
        }

        ul.election-links > li > a, ul.election-links > li > a.selected {
          color: @av-primary-contrast;
        }
      }
    }

    .top-section {
      border-radius: 5px;
      background-color: @av-primary-contrast;
      margin-top: 14px;
      padding: 10px;
      min-height: 100px;

      h1.election-title {
        padding: 18px;
        color: @av-primary;
      }

      h2 {
        padding: 10px;
      }

      p.election-description {
        padding: 10px 8%;
        text-align: center;
      }

      > .pad {
        padding: 15px;
      }

      ul.election-links {
        padding: 0;
        text-align: center;

        li {
          display:inline-block;
          font-size: 18px;
          padding: 10px;
          list-style-type: none;

          a.selected {
            color: @av-primary;
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media(max-width: @screen-sm-max) {
  .background > .container {
    padding: 0;
  }
}