<div class="col-xs-12 col-sm-5">
  <div
    class="team-title"
    ng-click="toggleTeam(team)">
    {{team.title}}
    <div class="show-remove">
      <span ng-i18next="avBooth.removeSelectedItem"></span>
      <span class="glyphicon glyphicon-remove"></span>
    </div>
  </div>
  <button
    class="btn btn-default btn-right"
    ng-class="{'in': team.isOpenConsejo}"
    ng-click="toggleOpen(team)">
    <span ng-i18next="avBooth.dropdownOptionView">
    </span>
    <span
      class="glyphicon"
      ng-class="{'glyphicon-chevron-up': team.isOpenConsejo, 'glyphicon-chevron-down': !team.isOpenConsejo}">
    </span>
  </button>
</div>
<div
  class="col-xs-11 col-sm-offset-0 col-sm-2"
  avb-pcandidates-cell="secretario"
  ng-class="{'empty-cell': team.secretario.length === 0}">
</div>
<div
  class="col-xs-11 col-sm-offset-0 col-sm-2"
  avb-pcandidates-cell="consejo"
  ng-class="{'empty-cell': team.consejo.length === 0}">
</div>
<div
  class="col-xs-11 col-sm-offset-0 col-sm-2"
  avb-pcandidates-cell="garantias"
  ng-class="{'empty-cell': team.garantias.length === 0}">
</div>