<!-- top navbar with question title -->
<nav class="navbar navbar-default navbar-fixed-top" av-affix-top=".navbar-unfixed-top" role="navigation">
  <div class="container">
    <div class="row avb-top-navbar">
      <div class="pull-left"
        ng-i18next="[html:i18next]({sprintf:['2','3']})avBooth.stepNumber">
      </div>
      <div class="pull-right">
        <span
          class="glyphicon glyphicon-question-sign"
          ng-click="launchHelp()">
        </span>
      </div>
    </div>

  </div>
</nav>

<div class="wrapper-unfixed">
  <div class="navbar-unfixed-top text-center" av-collapsing=".unfixed-top-height" data-toggle-selector="[avb-drafts-election-screen] #avb-toggle">
    <div class="container">
      <div class="hidden unfixed-top-height"></div>
      <h1>{{election.pretty_name}}</h1>
      <p>{{election.description}}</p>
    </div>
  </div>
</div>

<div id="avb-toggle" class="text-center item-block hidden">
  <span class="glyphicon glyphicon-play"></span>
</div>

<div class="content avb-content">
  <div class="container">
    <div class="row">
      <!-- only shown if in mobile: a row with selected opts and filter -->
      <div
        class="col-xs-12 small-selected padded"
        ng-class="{dropdown: stateData.selectionDropDown}">
        <div
          class="pull-left"
          ng-click="stateData.selectionDropDown = !stateData.selectionDropDown">
          <h4 ng-i18next="[i18next]({count: numSelectedOptions()})avBooth.numSelectedOptionsSmall"></h4>
          <span
            class="glyphicon glyphicon-play avb-toggle-span">
          </span>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 options-title"
        av-affix-top-offset="30"
        ng-class="{titleSelected: stateData.selectionDropDown}">
        <span ng-i18next="avBooth.proposalsTitleClickToSelect"
        ng-if="!stateData.selectionDropDown"></span>
        <span ng-i18next="avBooth.proposalsTitleClickToDeselect"
        ng-if="stateData.selectionDropDown"></span>
        <div
          class="pull-right filter-input"
          ng-class="{hidden: stateData.selectionDropDown}">
          <div class="pull-right filter-input">
            <input type="text"
              class="filter-input"
              id="filter-input"
              ng-model="stateData.filter"
              ng-model-options="{debounce: 500}"
              ng-i18next="[placeholder]avBooth.filterOptionsPlaceholder"
              />
            <span class="glyphicon glyphicon-search hidden-xs"></span>
          </div>
        </div>
      </div>
      <div class="hidden-xs col-md-2 affix-docs-header" av-affix-top-offset="30"
        ng-class="{titleSelected: stateData.selectionDropDown}">
        Documento ético
      </div>
      <div class="hidden-xs col-md-2 affix-docs-header" av-affix-top-offset="30"
        ng-class="{titleSelected: stateData.selectionDropDown}">
        Documento político
      </div>
      <div class="hidden-xs col-md-2 affix-docs-header" av-affix-top-offset="30"
        ng-class="{titleSelected: stateData.selectionDropDown}">
        Documento organizativo
      </div>

      <!-- show available options and filter -->
      <div class="col-xs-12"
        ng-class="{hidden: stateData.selectionDropDown}">
        <div avb-draft-options>
        </div>
      </div>

      <!-- show selected options -->
      <div
        class="col-xs-12 affixedSelection"
        ng-class="{hidden: !stateData.selectionDropDown}">
        <div avb-draft-option
          ng-repeat="option in groupedOptions | avbSelectedOptions"
          class="animate-repeat selected">
        </div>
        <div
          class="padded"
          ng-if="(groupedOptions | avbSelectedOptions).length == 0"
          ng-i18next="avBooth.noOptionsSelected">
        </div>
      </div>
    </div>

    <!-- next button -->
    <div class="row affix-bottom text-center">
      <p>
        <span
          class="text-brand-warning"
          id="maxSelectedLimitReached"
          ng-i18next="[i18next]({max: election.max})avBooth.maxSelectedLimitReached"
          ng-if="shownWarning === warningEnum.maxSelectedLimitReached">
        </span>
        <span
          class="text-brand-warning"
          id="alreadySelectedDocumentType"
          ng-i18next="avBooth.alreadySelectedDocumentType"
          ng-if="shownWarning === warningEnum.alreadySelectedDocumentType">
        </span>
        <span
          class="text-brand-warning"
          id="alreadySelectedPack"
          ng-i18next="avBooth.alreadySelectedPack"
          ng-if="shownWarning === warningEnum.alreadySelectedPack">
        </span>
        <span
          class="text-brand-warning"
          id="cantSelectPack"
          ng-i18next="avBooth.cantSelectPack"
          ng-if="shownWarning === warningEnum.cantSelectPack">
        </span>
      </p>
      <button
        class="btn btn-block btn-lg btn-success btn-plain"
        ng-i18next="avBooth.continueButton"
        ng-click="showNext()">
      </button>
    </div>
  </div>
</div>
