[avb-drafts-election-screen] {

  .filter-input {
    background-color: white;

    input {
      border: 0;
      margin-top: 0;
      color: @gray-darker;
      width: 60px;
    }

    .avb-toggle {
      z-index: 15;
    }

    span {
      background-color: white;
      display: block;
      float: right;
      margin-top: 3px;
      margin-right: -10px;
    }
  }

  .options-title {
    background-color: white;
    color: @brand-success;
    padding: 10px !important;
    font-size: 16px;
  }

  .affix-docs-header {
    background-color: white;
    color: @brand-success;
    padding: 10px;
    text-align: center;
    font-size: 16px;

    &.affix-top {
      margin-left: -2%;
    }
  }

  .affixedSelection {
    background-color: @brand-success;
    color: white !important;
    > h4 {
      display: none;
    }
    margin-bottom: 100px;

    [avb-draft-option].selected {
      background-color: @brand-success;

      .btn-right {
        background-color: @brand-success;
      }

      [avb-draft-option-cell] {
        background-color: @brand-success;

        .has-data.selected {
          background-color: @brand-success;
        }
      }

      &:hover {
        background-color: @brand-danger;

        .btn-right {
          background-color: @brand-danger;

          &:hover {
            background-color: darken(@brand-danger, 20%);
          }
        }


        [avb-draft-option-cell] {
          background-color: @brand-danger;

          .has-data.selected {
            background-color: @brand-danger;

            &:hover {
              background-color: darken(@brand-danger, 20%);
            }
          }
        }
      }
    }
  }

  .titleSelected {
    background-color: @brand-success;
    color: white !important;
  }

  .small-selected {
    margin-top: -33px;

    h4 {
      display: inline-block;
      clear: none;
      margin-top: 7px;
    }

    &.dropdown {
      background-color: @brand-success;
      color: white;

      .pull-left {
        background-color: @brand-success;
        h4, span, .show-value {
          color: white;
        }

        span.glyphicon-play {
          color: white;
          transform: rotate(-90deg);
        }
      }
    }

    .pull-left {
      cursor: pointer;
      display: block;
      padding: 0 8px;
      border-radius: 10px;
      background-color: white;
      color: @brand-success;

      &:hover {
        background-color: #6AD46A;
        color: white;

        h4, span {
          color: white;
        }
      }
    }
  }

  .animate-repeat {
    line-height: 40px;
    list-style: none;
    box-sizing: border-box;
  }

  .animate-repeat.ng-move,
  .animate-repeat.ng-enter,
  .animate-repeat.ng-leave {
    transition:all linear 0.5s;
  }

  .animate-repeat.ng-leave.ng-leave-active,
  .animate-repeat.ng-move,
  .animate-repeat.ng-enter {
    opacity:0;
    max-height:0;
  }

  .animate-repeat.ng-leave,
  .animate-repeat.ng-move.ng-move-active,
  .animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
    max-height:40px;
  }
}
