<!-- shown when the proposal includes this type of document -->
<div class="no-data" ng-if="opt === null && showCategory === 'false'">
  <span
    ng-i18next="avBooth.notSelectableCell">
  </span>
</div>

<!-- shown when the proposal does not include this type of document -->
<div
  class="has-data"
  ng-if="opt !== null"
  ng-class="{selected: opt.selected > -1}"
  ng-click="toggleCell()">
  <span
    ng-if="opt.selected > -1 && showCategory === 'true'">{{opt.category}}
  </span>
  <span
    ng-if="opt.selected > -1 && showCategory === 'false'"
    ng-i18next="avBooth.clickToDeselectCell">
  </span>
  <span
    ng-if="opt.selected === -1 && showCategory === 'true'">{{opt.category}}
  </span>
  <span
    ng-if="opt.selected === -1 && showCategory === 'false'"
    ng-i18next="avBooth.clickToSelectCell">
  </span>
</div>