<div avb-busy overlay ng-if="loading"></div>

<div>
    <h2 ng-i18next>avAdmin.sidebar.census</h2>

    <p class="text-muted" ng-i18next>avAdmin.census.intro</p>

    <div ng-if="error" class="bg-danger">
        <span ng-if="error.payload">{{ error.payload }}</span>
        <span ng-if="!error.payload">{{ error }}</span>
    </div>

    <div ng-if="msg" class="bg-success">
        <span ng-i18next="{{ msg }}"></span>
    </div>

    <div class="affix-placeholder"></div>
    <h4
      class="header-block"
      av-affix-top-offset="50"
      affix-placeholder=".affix-placeholder">
      <span
        class="glyphicon glyphicon-chevron-right"
        aria-hidden="true">
      </span>
      <span ng-i18next>avAdmin.census.manage</span>

      <div class="btn-group pull-right">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span ng-i18next>avAdmin.census.actionsDropdown</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li
            ng-repeat="command in commands"
            ng-class="{'disabled': !command.enableFunc()}">
            <a ng-click="command.actionFunc()">
              <i class="{{command.iconClass}}"></i>
              <span ng-i18next>
                [i18next]({num: numSelected()})avAdmin.census.{{command.i18nString}}
              </span>
            </a>
          </li>
        </ul>
      </div>
    </h4>

    <div class="input-group search col-sm-6">
      <input
        type="text"
        class="form-control"
        ng-model="q"
        placeholder="{{'avAdmin.elections.filter' | i18next}}">
      <span class="input-group-btn">
        <button
          class="btn btn-default"
          type="button">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>

    <table class="table table-bordered table-striped censustable">
      <tr ng-if="loadingcensus">
        <td>
          <i class="fa fa-cog fa-spin fa-sw"></i>
          <span ng-i18next>loading</span>
        </td>
      </tr>

      <tr>
        <th ng-i18next>
          avAdmin.census.idColumnHeader
        </th>
        <th ng-repeat="field in election.census.extra_fields">
          {{ field.name| htmlToText }}
        </th>
        <th ng-i18next>
          avAdmin.census.selectedColumnHeader
        </th>
      </tr>
      <tr ng-repeat="c in election.census.voters | filter:q">
        <td>
          {{c.id}}
        </td>
        <td ng-repeat="field in election.census.extra_fields">
          {{ c.metadata[field.name] }}
        </td>
        <td>
          <input type="checkbox" ng-model="c.selected" />
        </td>
      </tr>
    </table>

    <button
      ui-sref="admin.create()"
      ng-if="!election.id"
      class="btn btn-block btn-success"
      ng-i18next>
      next
    </button>

</div>
