<div>
    <h2 ng-i18next>
        avAdmin.sidebar.elections
    </h2>

    <table role="table" class="table table-bordered table-hover table-striped electionlist" infinite-scroll="loadMoreElections()" infinite-scroll-distance="0">
        <!-- header row -->
        <tr>
            <th colspan="2">
                <div class="input-group search">
                  <input type="text" class="form-control" ng-model="q" placeholder="{{'avAdmin.elections.filter' | i18next}}">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                  </span>
                </div>
            </th>
            <th class="text-center" ng-i18next> avAdmin.elections.status </th>
            <th class="text-center"ng-i18next> avAdmin.elections.participation </th>
            <th></th>
        </tr>

        <tr ng-repeat="election in elections | filter:q">
            <th>
                {{ election.id }}
            </th>
            <td>
                <strong>{{ election.title }}</strong> {{ election.description|truncate:150 }}
            </td>
            <td class="text-center">
                {{ election.status|i18next }}
            </td>
            <td class="text-center">
                <strong>{{ election.votes }}</strong>
                <br/>
                {{ election.votes_percentage|number:0 }}%
            </td>
            <td class="text-center">
                <a ui-sref="admin.dashboard({id: election.id})"><i class="fa fa-gear fa-lg"></i></a>
            </td>
        </tr>
    </table>
    <div ng-if="loading" class="text-center bg-primary" ng-i18next>loading</div>
    <div ng-if="nomore" class="text-center bg-success" ng-i18next>nomore</div>
    <div ng-if="error" class="text-center bg-danger">{{ error }}</div>
</div>
