<div avb-busy ng-if="loading"></div>

<div class="av-admin-form">
    <div class="election-id" ng-if="id">id: <span ng-model="election.id"></span></div>
    <form class="form" role="form" name="form">
        <div class="form-group">
            <label for="name" ng-i18next="avAdmin.form.name"></label>
            <input type="text" class="form-control" id="name" name="name"
            ng-model="election.title" ng-minlength=3 required/>
            <div class="error" ng-show="form.name.$dirty && form.name.$invalid">
                <small class="error" ng-i18next="avAdmin.form.el.titleError"></small>
            </div>

        </div>
        <div class="form-group">
            <label for="desc" ng-i18next="avAdmin.form.description"></label>
            <textarea id="desc" class="form-control" name="desc"
            ng-model="election.description" ng-minlength=5 required></textarea>
            <div class="error" ng-show="form.desc.$dirty && form.desc.$invalid">
                <small class="error" ng-i18next="avAdmin.form.el.descriptionError"></small>
            </div>
        </div>
        <div av-questions questions="election.questions">
        </div>
    </form>
</div>

<div class="av-admin-form-buttons">
    <div class="error" ng-repeat="e in election.errors"> {{ e }} </div>
    <!-- buttons -->
    <button role="button" class="btn btn-primary btn-block btn-plain" ng-click="saveElection()">
        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
        <span ng-i18next="avAdmin.form.save"></span>
    </button>
</div>
