[av-plurality-at-large-results] {
  table.results tbody tr td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  table.results tbody tr.winner td {
    font-weight: bold;
  }
}