.stick {
    background-image: url("/img/stick-green.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 8px;
}

.text-muted .stick {
    background-image: url("/img/stick-gray.png");
}

.stickend,
.stickini {
    background-size: 50% 8px;
}

.stickini {
    background-position: center right;
}
.stickend {
    background-position: center left;
}

.stick i {
    background-color: white;
    padding: 4px;
}

.statusbar .col-xs-2 {
    padding: 0px;
}
