<div av-recompile="stateChange">
  <div avb-busy ng-if="state == stateEnum.receivingElection">
    <p ng-i18next="avBooth.loadingElectionTitle"></p>
  </div>
  <div avb-error-screen ng-if="state == stateEnum.errorScreen">
  </div>
  <div avb-help-screen ng-if="state == stateEnum.helpScreen">
  </div>
  <div avb-start-screen ng-if="state == stateEnum.startScreen">
  </div>
  <div avb-multi-question ng-if="state == stateEnum.multiQuestion">
  </div>
  <div avb-drafts-election-screen ng-if="state == stateEnum.draftsElectionScreen">
  </div>
  <div avb-pcandidates-election-screen ng-if="state == stateEnum.pcandidatesElectionScreen">
  </div>
  <div avb-review-screen ng-if="state == stateEnum.reviewScreen">
  </div>
  <div avb-casting-ballot-screen ng-if="state == stateEnum.castingBallotScreen">
  </div>
  <div avb-success-screen ng-if="state == stateEnum.successScreen">
  </div>
</div>
