<div class="form-group">
    <label for="{{index}}Text" class="control-label col-sm-4">
        <span>{{field.name}}</span>
        <p class="help-block" ng-if="field.help_text">
          {{field.help}}
        </p>
    </label>
    <div class="col-sm-8">
        <input
            type="text"
            class="form-control"
            id="{{index}}Text"
            ng-model="field.value"
            ng-disabled="field.disabled"
            tabindex="{{index+1}}"
            autofocus
            required />
        <div class="input-error">
        </div>
    </div>
</div>
