<div class="clickable-opt">
  <div class="show-remove" ng-click="toggleSelectItem(option)">
    <span ng-i18next="avBooth.removeSelectedItem"></span>
    <span class="glyphicon glyphicon-remove"></span>
  </div>
  <span class="show-value" ng-click="toggleSelectItem(option)" ng-bind-html="option.text"></span>
  <button
    class="btn btn-default btn-right"
    ng-class="{'in': isOpen}"
    ng-click="isOpen = !isOpen; $event.preventDefault()">
    <span ng-i18next="avBooth.dropdownOptionView">
    </span>
    <span
      class="glyphicon"
      ng-class="{'glyphicon-chevron-up': isOpen, 'glyphicon-chevron-down': !isOpen}">
    </span>
  </button>
  <div
  ng-if="isOpen"
  class="details"  ng-click="toggleSelectItem(option)" ng-bind-html="option.details">
  </div>
</div>
