<!-- top navbar with question title -->
<nav class="navbar navbar-default navbar-fixed-top" av-affix-top=".navbar-unfixed-top" role="navigation">
  <div class="container">
    <div class="row avb-top-navbar">
      <div class="pull-left"
        ng-i18next="[html:i18next]({sprintf:['2','3']})avBooth.stepNumber">
      </div>
      <div class="pull-right">
        <span
          class="glyphicon glyphicon-question-sign"
          ng-click="launchHelp()">
        </span>
      </div>
    </div>

  </div>
</nav>

<div class="wrapper-unfixed">
  <div class="navbar-unfixed-top text-center">
    <div class="container">
      <div class="hidden unfixed-top-height"></div>
      <h1>{{election.pretty_name}}</h1>
    </div>
  </div>
</div>

<div class="content avb-content">
  <div class="container">
    <div class="row">
      <div
        class="hidden-xs col-md-4 small-selected"
        ng-class="{dropdown: stateData.selectionDropDown}">
        <div
          class="pull-left"
          ng-click="stateData.selectionDropDown = !stateData.selectionDropDown">
          <h4 ng-i18next="[i18next]({count: numSelectedOptions()})avBooth.numSelectedOptionsSmall"></h4>
          <span
            class="glyphicon glyphicon-play avb-toggle-span">
          </span>
        </div>
      </div>
      <div
        class="col-xs-12 col-md-4 filter-input-wrap"
        ng-class="{wrapDropdown: stateData.selectionDropDown}">
        <div
          class="filter-input"
          ng-if="!stateData.selectionDropDown">
          <span class="glyphicon glyphicon-search"></span>
          <input type="text"
            id="filter-input"
            ng-model="stateData.filter"
            av-debounce="500"
            ng-i18next="[placeholder]avBooth.filterOptionsPlaceholder2"
            />
        </div>
        <div
          class="visible-xs hidder"
          ng-if="stateData.selectionDropDown">
        </div>
      </div>
      <div
        class="visible-xs col-xs-12 small-selected padded"
        ng-class="{dropdown: stateData.selectionDropDown}">
        <div
          class="pull-left"
          ng-click="stateData.selectionDropDown = !stateData.selectionDropDown">
          <h4 ng-i18next="[i18next]({count: numSelectedOptions()})avBooth.numSelectedOptionsSmall"></h4>
          <span
            class="glyphicon glyphicon-play avb-toggle-span">
          </span>
        </div>
      </div>

      <div
        class="clearfix"
        ng-class="{titleSelected: stateData.selectionDropDown}">
      </div>

      <div class="col-xs-5 hidden-xs options-title"
        av-affix-top-offset="30"
        ng-class="{titleSelected: stateData.selectionDropDown}">
        <span ng-i18next="avBooth.candidatesTitle"></span>
        <div class="title-help" ng-i18next="avBooth.helpTextViewSingleCandidates"></div>
        <div class="title-help" ng-i18next="avBooth.helpTextViewCell"></div>
      </div>
      <div class="hidden-xs col-xs-2 affix-docs-header" av-affix-top-offset="30"
        ng-class="{titleSelected: stateData.selectionDropDown}">
        Secretaría General
        <div
          class="randomize-column"
          ng-class="{hidden: stateData.selectionDropDown}"
          data-question="secretario">
           <span class="glyphicon glyphicon-sort-by-attributes"></span>
           <span ng-i18next="avBooth.randomizeColumn"></span>
        </div>
      </div>
      <div class="hidden-xs col-xs-2 affix-docs-header" av-affix-top-offset="30"
        ng-class="{titleSelected: stateData.selectionDropDown}">
        Consejo Ciudadano
        <div
          class="randomize-column"
          ng-class="{hidden: stateData.selectionDropDown}"
          data-question-num="consejo">
           <span class="glyphicon glyphicon-sort-by-attributes"></span>
           <span ng-i18next="avBooth.randomizeColumn"></span>
        </div>
      </div>
      <div class="hidden-xs col-xs-2 affix-docs-header" av-affix-top-offset="30"
        ng-class="{titleSelected: stateData.selectionDropDown}">
        Comisión de Garantías
        <div
          class="randomize-column"
          data-question-num="garantias"
          ng-class="{hidden: stateData.selectionDropDown}">
           <span class="glyphicon glyphicon-sort-by-attributes"></span>
           <span ng-i18next="avBooth.randomizeColumn"></span>
        </div>
      </div>

      <div
        class="clearfix"
        ng-class="{titleSelected: stateData.selectionDropDown}">
      </div>
    </div>

    <!-- show available options and filter -->
    <div class="col-xs-12"
      ng-class="{hidden: stateData.selectionDropDown}">
      <div avb-pcandidates-rows>
      </div>
    </div>

    <!-- next button -->
    <div class="row affix-bottom text-center">
      <p>
        <span
          class="text-brand-warning"
          id="maxSelectedLimitReached"
          ng-i18next="[i18next]({max: election.max})avBooth.maxSelectedLimitReached"
          ng-if="shownWarning === warningEnum.maxSelectedLimitReached">
        </span>
      </p>
      <button
        class="btn btn-block btn-lg btn-success btn-plain"
        ng-i18next="avBooth.continueButton"
        ng-click="showNext()">
      </button>
    </div>
  </div>
</div>