<div
  class="question padded"
  ng-repeat="question in election.questions"
  ng-click="goToQuestion($index, true)">
  <h3 class="text-brand-success">
    {{$index + 1}}. {{question.title}}
    <div class="pull-right">
      <span class="glyphicon glyphicon-edit"></span>
    </div>
  </h3>
  <p ng-i18next="[i18next]({num: (question.answers | avbSelectedOptions).length})avBooth.selectedOptionsFollow"></p>
  <ul ng-if="!mapQuestion(question).ordered">
    <li
      ng-repeat="answer in question.answers | avbSelectedOptions"
      class="animate-repeat selected-answer">
      {{answer.text}}
    </li>
    <li
      ng-if="(question.answers | avbSelectedOptions).length == 0"
      ng-i18next="avBooth.emptyAnswer">
    </li>
  </ul>
  <ol ng-if="mapQuestion(question).ordered">
    <li
      ng-repeat="answer in question.answers | avbSelectedOptions"
      class="animate-repeat selected-answer">
      {{answer.text}}
    </li>
    <li
      ng-if="(question.answers | avbSelectedOptions).length == 0"
      ng-i18next="avBooth.emptyAnswer">
    </li>
  </ul>
</div>