<div class="col-xs-12" ng-if="layout === 'simple'">
  <avb-simple-option
    ng-repeat="option in filteredOptions"
    class="animate-repeat"
    ng-class="{selected: option.selected > -1}"
    ng-click="toggleSelectItem(option)">
  </avb-simple-option>
  <div
    class="animate-repeat padded-left"
    ng-if="filteredOptions.length == 0"
    ng-i18next="avBooth.noResults">
  </div>
</div>
<div class="col-xs-12" ng-if="layout === 'accordion'">
  <avb-accordion-options>
  </avb-accordion-options>
</div>
