<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div ng-controller="ElectionController">

{{messages}}
    
    <form name="votingForm">
        <div ng-repeat="data in election">
            <div ng-repeat="question in data track by $index">
                {{question.question}}      
                <div ng-repeat="answer in question.answers">
                    <label class="radio"><input type="{{inputtype}}" name="myVote" value="{{answer.value}}" ng-model="formData.question0">{{answer.value}}</label>
                </div>           
            </div>
        </div>
        
        <button data-ng-click="submit(votingForm)" class="btn btn-default">Continue</button>
    </form>
    
    {{formData}}

    <br>
    Election id: {{id}}, type: {{inputtype}}
    <br>
    <election-type></election-type>
   


</div>