<div class="container">
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
    <h1 class="text-center">{{name}}</h1>
    <h1 ng-i18next="avRegistration.registerHeader" class="text-center"></h1>
    <form name="form" role="form">
      <div id="signupForm" class="form-horizontal">
        <div ng-repeat="field in fields.fields">
          <div class="form-group">
              <input type="{{field.type}}" class="form-control" ng-model="register[field.name]"
                   ng-i18next="[placeholder]avRegistration.{{field.name}}Placeholder"
                   ng-required={{field.required}} ng-pattern="patterns( field.name )" />
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-block" ng-i18next="avRegistration.registerButton" ng-click="signUp(form.$valid)">
      </button>
    </form>
  </div>
</div>
