<div class="container"> <div class="row">
    <div class="col-sm-12 registerheader">
        <h1>{{name}}</h1>
        <h1 ng-i18next="avRegistration.registerHeader"></h1>
    </div>

    <div class="col-sm-6">
        <form name="form" id="registerForm" role="form" class="form-horizontal">
            <div ng-repeat="field in register_fields" avr-field index="{{$index}}">
            </div>

          <div class="col-sm-offset-4 col-sm-8 button-group">
              <div class="input-error">
                  <div class="error text-danger" ng-if="error">{{ error }}</div>
              </div>
              <button
                type="submit"
                class="btn btn-block btn-success"
                ng-i18next="avRegistration.registerButton"
                ng-click="signUp(form.$valid)"
                tabindex="{{register_fields.length+1}}"
                ng-disabled="!form.$valid && !sendingData">
              </button>
          </div>
        </form>
    </div>
    <div class="col-sm-5 col-sm-offset-1 hidden-xs">
      <p>
        <span ng-i18next="avRegistration.createElection"></span><br/>
        <span ng-i18next="avRegistration.takeLook"></span>
        <a href="" target="_blank" ng-i18next="avRegistration.step"></a>
      </p>
    </div>
  </div>
</div>

